<app-title-page [titlePage]="constants.titlePage"></app-title-page>

<section class="wrapper-master-register">
  <!-- INFORMATION -->
  <section class="information">
    <app-program-master-reschedule></app-program-master-reschedule>
  </section>

  <!-- SESSIONS -->
  <section class="sessions">
    <app-program-master-reschedule-sessions></app-program-master-reschedule-sessions>
  </section>

  <!-- BUTTONS -->
  <section class="buttons">
    <section class="register">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        form="setDataForm"
        (click)="reschedule()"
      >
        <section class="content-container">Reprogramar</section>
      </button>
    </section>
    <section class="cancel">
      <button mat-flat-button color="accent" type="button">
        <section class="content-container" (click)="cancel()">Cancelar</section>
      </button>
    </section>
  </section>
</section>
