.template-body {
    margin-left: auto;
    margin-right: 5%;
    width: 95%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: grid;
    grid-template: auto / 30% 10% 20% 10% 20% 10%;
    grid-gap: .7rem;
     :nth-child(n) {
        margin-left: auto;
        margin-right: auto;
        display: block;
        // border: 1px solid;
    }
     :nth-child(1) {
        width: 100%;
    }
     :nth-child(6) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

table {
    width: 100%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 0.5rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
    font-size: 0.8rem;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding-left: 0.5rem;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 0.5rem;
}

// .mat-sort-header{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.demo-row-is-clicked {
    font-weight: bold;
}

.mat-table {
    background-color: #e3f0df;
}

.mat-cell {
    color: #02723e;
}

//Extensiones
#table-title {
    color: gray;
    font-size: .8rem;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}