<section class="outer-container">
  <section class="all-container">
    <section class="title">Iniciar Sesión</section>
    <section class="inner-container">
      <section class="select">
        <app-select
          [select]="constants.selectRol"
          (selectedValue)="getSelectedValue($event)"
        ></app-select>
      </section>
      <section class="button">
        <app-button-shared
          [button]="constants.buttonGoogle"
          (clicked)="signInWithGoogle($event)"
        ></app-button-shared>
      </section>
    </section>
  </section>
</section>
