<section class="outer-container">
  <section class="all-container">
    <section class="title">Iniciar Sesión</section>
    <section class="inner-container">
      <section class="select">
        <app-login-select-rol-user (rolSeleccionado)="getSelectedValue($event)">
        </app-login-select-rol-user>
      </section>
      <section class="button">
        <app-button-shared
          [button]="constants.buttonGoogle"
          (clicked)="signInWithGoogle($event)"
        ></app-button-shared>
      </section>
    </section>
  </section>
</section>
