button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  section {
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }
}

.mat-flat-button {
  min-width: auto;
}