<header>
  <div class="header-menu">
    <section class="left">
      <button (click)="click()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2rem"
          height="2rem"
          fill="currentColor"
          class="bi bi-list icon"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </button>
    </section>
    <section class="right">
      <section class="title"><p>Postgrado UNPRG</p></section>
      <!-- <section #namePage></section> -->
      <section class="last-icons">
        <section class="notification"></section>
        <section class="emojin">
          <img [src]="photoUrl" alt="foto de perfil" srcset="" />
        </section>
      </section>
    </section>
  </div>
</header>
