// .title-page {
//   background-color: yellow;
//   width: 100%;
//   height: 4rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .content {
//     background-color: #a4cbad;
//     color: #02723E;
//     width: 80%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 2rem;
//     p {
//       padding: 0;
//       margin: 0;
//     }
//   }
// }
.template-page-title {
    background-color: #cacaea85;
    color: #3F51B5;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
}