$heightIcon: 4rem;
$heightTitle: 3rem;
$heightDescription: 4rem;
$heightButtons: 3.2rem;

.outer-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: $heightIcon $heightTitle $heightDescription $heightButtons / auto;
  //   background-color: blue;

  .icon {
    // background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    //   background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
  }
  .description {
    // background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
  }
  .buttons {
    // background-color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    button {
      height: auto;
      margin: 0 0.7rem;
    }
  }
}

.justify-content-center {
  justify-content: center;
}

@keyframes spinner {
  0% {
    transform: translate3d(-0%, -0%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-0%, -0%, 0) rotate(360deg);
  }
}

.container-spin-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .spin {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 0.3rem #1c87c9;
    border-bottom-color: #cfd0d1;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    transform: translate3d(-0%, -0%, 0);
    will-change: transform;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #5252b3;
    margin-top: 1rem;
  }
}
