<section class="container-all">
  <section class="start">
    <section class="input">
      <app-input [input]="inputTextStart"></app-input>
    </section>
    <section class="time">
      <app-input [input]="inputTimeStart"></app-input>
    </section>
  </section>

  <section class="end">
    <section class="input">
      <app-input [input]="inputTextEnd"></app-input>
    </section>
    <section class="time">
      <app-input [input]="inputTimeEnd"></app-input>
    </section>
  </section>
</section>
