<app-title-page [titlePage]="constants.titlePage"></app-title-page>

<section class="wrapper-master-register">
  <section class="information">
    <app-program-master-register
      [formValidate]="toggleFormValidate"
      (formIsValid)="formIsValidEE($event)"
      (formValues)="formValuesEE($event)"
    ></app-program-master-register>
  </section>
  <section class="sessions">
    <app-program-master-sessions></app-program-master-sessions>
  </section>
  <section class="buttons">
    <section class="register">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        form="setDataForm"
        (click)="formValidate()"
      >
        <section class="content-container">Registrar</section>
      </button>
    </section>
    <section class="cancel">
      <button mat-flat-button color="accent" type="button">
        <section class="content-container" routerLink="../">Cancelar</section>
      </button>
    </section>
  </section>
</section>
