.button-logout {
  color: rgba(255, 255, 255, 0.596);
  border: none;
  width: 100%;
  text-align: left;
  display: flex;
  padding: 0.65rem;

  .icon {
    margin: 0 0.5rem 0 0.5rem;
  }
  .text {
    margin-right: 1.3rem;
  } 
}
