footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: #D8EAD2;
    color: #02723E;
    p{
        padding: 0;
        margin: 0;
    }
}