<app-title-page [titlePage]="constants.titlePage"></app-title-page>
<section class="wrapper">
  <!-- UPDATE PROGRAMATION COURSE -->
  <section class="update">
    <app-update-schedule-course></app-update-schedule-course>
  </section>

  <!-- MANAGEMENT SESSIONS PROGRAMATION -->
  <section class="management">
    <app-management-sessions-course></app-management-sessions-course>
    <section class="button">
      <button mat-flat-button color="accent" type="button" (click)="cancel()">
        Atrás
      </button>
    </section>
  </section>
</section>
