.content {
  //   background-color: blue;
  // flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  .item-content {
    width: 45%;
    height: 7rem;
    color: #5252B3;
    background-color: #5252b369;
    // background-image: url("../../../../../assets/images/xd.jpg");
  }
  .item-content:hover{
    background-color: #5252B3;
    color: white;
  }
}

.margin-top-2 {
  margin-top: 2rem;
}

.mat-form-field {
  width: 9rem;
}
//   background-color: red;
// }

// .option:hover{
//   background-color: blue;
// }
