<section class="template-page">
  <app-title-page
    [titlePage]="titlePage"
    [actionPage]="actionPage"
  ></app-title-page>
  <section class="template-page-body">
    <section class="template-page-body-top-content-static">
      <section class="content">
        <button
          class="btn btn-outline-success item-content"
          routerLink="./maestria"
        >
          Maestría
        </button>
        <button
          class="btn btn-outline-success item-content"
          routerLink="./doctorado"
        >
          Doctorado
        </button>
      </section>
      <section class="content margin-top-2">
        <button
          class="btn btn-outline-success item-content"
          routerLink="./idioma"
        >
          Idioma
        </button>
        <button
          class="btn btn-outline-success item-content"
          routerLink="./examen"
        >
          Examen
        </button>
      </section>
      <section class="content margin-top-2">
        <button
          class="btn btn-outline-success item-content"
          routerLink="./sustentacion"
        >
          Sustentación
        </button>
      </section>
    </section>
    <!-- <section class="template-page-body-top-content-dynamic"></section>
    <section class="template-page-body-bot-content"></section> -->
  </section>
</section>
