.top-body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template: auto auto / 15% 60% 25%;
    grid-gap: 1rem;
     :nth-child(n) {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
     :nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
        app-input {
            width: 100%;
            height: 50%;
        }
    }
     :nth-child(2),
     :nth-child(5) {
        width: 80%;
    }
}

.selection {
    margin-top: 1rem;
    display: grid;
    grid-template: auto 0.5rem auto/ 67% 3% 30%;
    margin-bottom: 1.5rem;
}

.management {
    .register {
        margin-bottom: 1.5rem;
    }
    .table {
        margin-bottom: 1rem;
    }
}

.faculty {
    width: 120px;
}

.master {
    width: 800px;
}

.top {
    display: grid;
    grid-template-areas: "faculty-master coordinator" "curricula-course coordinator";
    .faculty-master {
        grid-area: faculty-master;
    }
    .curricula-course {
        grid-area: curricula-course;
    }
    .coordinator {
        grid-area: coordinator;
        display: flex;
        flex-direction: column;
    }
}

table {
    margin-top: 2rem;
    width: 100%;
}