<app-title-page [titlePage]="constants.titlePage"></app-title-page>
<section class="wrapper-master-main">
  <section class="program-selects">
    <app-program
      [programa]="programa"
      (programaEE)="programaEE($event)"
      (cursoEE)="cursoEE($event)"
    ></app-program>
  </section>
  <section class="program-buttons">
    <app-program-buttons
      [codigoCoordinador]="codigoCoordinador"
      [registrarUrl]="registrarUrl"
      [switchedProgramaSelect]="switchedProgramaSelect"
      (clickedRegisterBtnEE)="clickedRegisterBtnEE($event)"
    ></app-program-buttons>
  </section>
  <section class="program-table">
    <app-program-table
      [nameTable]="nameTable"
      [columns]="columnsTable"
      [buttons]="buttonActionsTable"
      [curso]="cursoSeleccionado"
    ></app-program-table>
  </section>
</section>
